.tourHeader {
  text-transform: capitalize;
  margin-top: 0;
  font-weight: 500;
}
.tourLink {
    color: #00E08E;
}
.Mask {
  border: solid #aaa;
  outline: solid #aaa;
}
.tourText {
  color:#aaa;
}
